/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap.scss';

/*$primary: rgb(169, 166, 166);*/

/*body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 0 auto;
  align-content: center;
}

header {
  background: $primary;
  padding: 1em 0;
}

  ul {
    list-style-type: none;
    margin: 0;
    display: grid;
    padding-top: 5em;

    li a {
      /*padding: 1em;*/
      /*font-size: x-large;
      text-align: center;
      &:hover {
        background: #dce1db;
      }
    }
  }*/

