################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/.config/dotnet-tools.json
/Api
/Angular/obj/Release/netcoreapp3.1
